.courses-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  position: sticky;
  top: 64px;
  gap: 1rem;
}

.courses-container .course-card {
  width: auto;
}
