.header-wrapper {
  box-shadow: 0px 0px 12px -6px var(--BLACK);
}

.header {
  padding: 8px;
  align-items: center;
}

.header-nav li {
  border-bottom: 2px solid var(--WHITE);
}

.header-search-wrapper {
  flex-grow: 1;
  flex-shrink: 2;
}
