.course-card {
  width: 14rem;
}

.course-card:hover {
  cursor: pointer;
}

.course-card:hover img {
  filter: brightness(60%);
}

.course-card .img-wrapper {
  width: 100%;
  aspect-ratio: 4/3;
}

.course-card img {
  height: 100%;
  object-fit: cover;
}

.course-card .content {
  text-align: center;
}

.course-card .price {
  margin-top: auto;
}

.original-price {
  text-decoration: line-through;
}

.discounted-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--RED);
}

.course-card .card-badge {
  width: fit-content;
  padding-right: 0.8rem;
  box-shadow: 4px 4px 8px -4px var(--BLACK);
}
