@import url("https://adaptiveui.netlify.app/src/components/ui-lib.css");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

/* Reset css */
:root {
  --DARK-GRAY: #3f3f3f;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* bottom gutter */

.gutter-bottom-8 {
  margin-bottom: 0.5rem;
}

.gutter-bottom-16 {
  margin-bottom: 1rem;
}

.gutter-bottom-24 {
  margin-bottom: 1.5rem;
}

.gutter-bottom-32 {
  margin-bottom: 2rem;
}

/* buttons */

.btn {
  transition: background-color 0.1s ease;
}

.btn-solid-primary:hover {
  background-color: var(--DARK-GRAY);
}

.btn-outline-primary:hover {
  background-color: var(--LIGHT-GRAY);
}

.btn-outline-primary {
  background-color: var(--WHITE);
}

/* text color blue */
.text-link {
  color: var(--CTA-COLOR);
}

/*  */
.content-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 8px;
}

/* body */

body {
  font-family: mukta;
}

/* App */

.app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
